__marimo__/
__pycache__/
__pypackages__/
._*
.abstra/
.cache
.coverage
.coverage.*
.dmypy.json
.DS_Store
.DS_Store?
.eggs/
.env
.envrc
.hypothesis/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.nox/
.pdm-build/
.pdm-python
.pixi
.pybuilder/
.pypirc
.pyre/
.pytest_cache/
.Python
.pytype/
.ropeproject
.ruff_cache/
.scrapy
.Spotlight-V100
.spyderproject
.spyproject
.streamlit/secrets.toml
.tox/
.Trashes
.venv
.vscode/
.webassets-cache
*.cover
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.pot
*.py.cover
*.py[codz]
*.sage.py
*.so
*.spec
**/__pycache__/
*$py.class
/.hugo_build.lock
/assets/jsconfig.json
/content/
/logs/
/public/
/resources/_gen/
/site
build/
celerybeat-schedule
celerybeat.pid
cover/
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
ehthumbs.db
env.bak/
env/
ENV/
htmlcov/
hugo_stats.json
hugo.darwin
hugo.exe
hugo.linux
hugo/.hugo_build.lock
hugo/content/
hugo/data/playlists/
hugo/logs/
hugo/public/
hugo/resources/_gen/
hugo/site/
instance/
ipython_config.py
lib/
lib64/
local_settings.py
MANIFEST
marimo/_lsp/
marimo/_static/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
profile_default/
public/
sdist/
share/python-wheels/
static/
target/
Thumbs.db
var/
venv.bak/
venv/
wheels/
